.errors {
    color: #c9302c;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.hr1 {
    border: 0;
    height: 1px;
    background: #5f859b;
    background-image: -webkit-linear-gradient(left, #fff, #747474, #fff);
    background-image: -moz-linear-gradient(left, #fff, #5f859b, #fff);
    background-image: -ms-linear-gradient(left, #fff, #0e9a16, #fff);
    background-image: -o-linear-gradient(left, #fff, #cb9219, #fff);
    /*    background-image: -webkit-linear-gradient(left, #fff, #747474, #fff);
        background-image: -moz-linear-gradient(left, #fff, #000, #fff);
        background-image: -ms-linear-gradient(left, #fff, #000, #fff);
        background-image: -o-linear-gradient(left, #fff, #000, #fff);*/
    margin-top: 10px;
}

.hr1 {
    margin-bottom: 50px;
}

.font70em {
    font-size: 0.70em;
}

.content-blog{
    margin-bottom: 10px;
    font-size: 0.75em;
}